html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fefefe;
    color: white;
}

h4 {
    text-align: center;
    color: black;
}

h5 {
    text-align: auto;
    color: black;
}

h1 {
    color: black;
}

p{
    color: black;
}

.card {
    
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 30px;
}

.card-body {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

form {
    display: flex;
}

#id {
    padding: 15px 10px;
    outline: none;
    width: 400px;
}

.li-container {
    background-color: white;
    width: 100%;
    color: darkgrey;
    margin-top: 20px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
}

li p {
    margin: 0;
    padding: 15px;
    width: 100%;
}

.btn-delete {
    margin-left: auto;
    border: none;
    background-color: darkorange;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 10%;
    font-size: 1.2em;
}

.btn-delete:hover {
    cursor: pointer;
    background-color: red;
    transition: ease 0.3s;
}

.btn-add {
    padding: 5px 15px;
    border: none;
    color: white;
    font-family: fantasy;
    background-color: darkgrey;
    font-size: 1.4rem;
    outline: none;
}

.btn-add:hover {
    transition: ease 0.3s;
    cursor: pointer;
    background-color: darkorange;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    
}

.empty {
    color: black;
}

#allGreen {
    color: darkgreen;
}

#logo {
    color: white;
}

#logoContainer{
    align-items: center;
}

a.link-dark:hover {
    transition: ease 0.3s;
    color: red;
}